$black: #000000;
$white: #ffffff;

// PRIMARY
$primary-900: #009593;
$primary-600: #00a29a;
$primary-300: #00c5b4;

// VCA BLUE
$vca-blue-900: #003160;
$vca-blue-500: #046b99;
$vca-blue-300: #00468b;
$vca-blue-base: #0057ad;

// Grid
$row-selection: #88a6ec;
$highlight-view: #d8d8d8;

// Input
$input-bg: #fff4d2;

// Caret Color
$caret-color: #9e9e9e;

// SECONDARY
$secondary-active-link-900: #0057ad;
$secondary-active-link-50: #eef2ff;

$secondary-error-900: #f04848;
$secondary-red-color: #dc2020;
$secondary-error-50: #ffebeb;

$secondary-confirmation-900: #48a808;
$secondary-confirmation-50: #e2fce3;

// TEXT AND SURFACE
$text-surface-light-900: #666666;
$text-surface-light-200: #f6f6f6;
$text-surface-900: #333333;
$text-surface-800: #5a5a5a;
$text-surface-700: #6c6c6c;
$text-surface-600: #757575;
$text-surface-500: #b3b3b3;
$text-surface-400: #dcdcdc;
$text-surface-300: #eaeaea;
$text-surface-200: #f6f6f6;
$text-surface-100: #fafafa;
$text-disabled: rgba(0, 0, 0, 0.38);

// CATEGORICAL COLORS
$categorical-color-brown-900: #5d4037;
$categorical-color-brown-50: #ffede6;
$categorical-color-light-brown: #ffedd8;

$categorical-color-red-900: #cc3d3d;
$categorical-color-red-50: #ffeeee;

$categorical-color-orange-900: #e65100;
$categorical-color-orange-50: #fff1df;

$categorical-color-yellow-900: #ffbf00;
$categorical-color-yellow-50: #fff5da;

$categorical-color-green-900: #558b2f;
$categorical-color-green-50: #eefeee;

$categorical-color-moss-900: #827717;
$categorical-color-moss-50: #f8f6e5;

$categorical-color-lime-900: #afb42b;
$categorical-color-lime-50: #f7f8e2;

$categorical-color-indigo-900: #283593;
$categorical-color-indigo-50: #f1f6f8;

$categorical-color-purple-900: #7832d8;
$categorical-color-purple-50: #f6f7ff;

$categorical-color-violet-900: #d500f9;
$categorical-color-violet-50: #fbf0fd;

$categorical-color-magenta-900: #ff1966;
$categorical-color-magenta-50: #fff2f6;

$categorical-color-burgundy-900: #970955;
$categorical-color-burgundy-50: #f6eff3;

$categorical-color-orange-900: #fe6100;
$categorical-color-light-pink: #ff7ea1;
$categorical-color-Beatrice: #c1bcdb;
$categorical-color-light-blue: #6ca9ff;
$categorical-color-dark-blue: #0057ad;
$categorical-color-light-grey: #f4f7fe;
$categorical-color-light-white: #ecf1f9;
$categorical-color-light-orange-yellow: #e98100;
$categorical-color-solitude: #dfebff;
$categorical-color-green: #00a29a;
$categorical-color-purple: #775ff0;
$categorical-color-violet: #771191;
$download-progress-bar: #29823b;
$hint-color: #00000099;
$categorical-color-Beatrice: #c1bcdb;
$disable-grey-new: rgb(0, 0, 0, 38%);

// Basic Template colors
$primary-color: $primary-900;
$secondary-color: $primary-300;
$background-color: $white;
$font-color: $text-surface-900;
$error-color: $secondary-error-900;
$disable-font-color: $text-surface-200;

$error-outline:#DC2020;
$disable-grey: #e0e0e0;
$edit-brown: #fe6100;
// Icon Colors
.bg-text-surface-900 {
  background-color: $text-surface-900;
}

.bg-text-surface-500 {
  background-color: $text-surface-500;
}

.bg-transparent {
  background-color: transparent;
}

.bg-secondary-confirmation-900,
.prescription-green {
  background-color: $secondary-confirmation-900;
}

.bg-categorical-color-yellow-900,
.prescription-amber {
  background-color: $categorical-color-yellow-900;
}

.bg-secondary-error-900,
.prescription-red {
  background-color: $secondary-error-900;
}
